/* Footer.css */
.footer {
  font: BlinkMacSystemFont;
  background-color: transparent;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #444;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px; /* Align with main content width */
  margin: 0 auto;
}

.footer-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-link {
  color: #e0e0e0;
  transition: color 0.3s;
  font-size: 2rem;
}

.social-link:hover {
  color: #2ecc71;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Stack items vertically on small screens */
    padding: 10px;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
}

.footer-setup-link{
  color: #e0e0e0;
  font-size: 1.5rem;
}
