/* MainContent.css */
.main-content {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  color: #fff;
  width: 100%;
  max-width: 1200px; /* Adjusted max width */
  margin: 0 auto;
  box-sizing: border-box;
  
}

.intro-section {
  margin-bottom: 15px;
  width: 100%;
}

.intro-text {
  font-size: 2rem; /* Smaller font for better layout */
  color: #fff;
  font-weight: 500;
  margin: 1;
}

.resume-section {
  margin-bottom: 0px;
  width: 100%;
}

.resume-link {
  color: #2ecc71;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  transition: color 0.3s;
}

.content-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0px;

}

.tech-experience, .projects {
  width: calc(50%);
  background-color: transparent; /* Transparent boxes */

  border-radius: 8px; /* Add slight rounding */
}

.section-title {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.tech-experience ul,
.projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tech-experience li,
.projects li {
  margin-bottom: 10px;
}

.experience-link, .project-link {
  color: #fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s;
  font-size: 1.5rem;
}

.experience-link:hover, .project-link:hover {
  color: #2ecc71;
}

@media (max-width: 768px ) {
  .main-content {
    padding: 10px;
  }
  .content-section {
    flex-direction: column; /* Stack elements vertically */
    width: 100%;
  }
  .tech-experience, .projects {
    width: 100%;
    margin-bottom: 20px;
  }
}
