/* MainContent.css */
.main-content {
  padding: 20px 0; /* Vertical padding for consistency */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: flex-start;
  text-align: left;
  color: #ffffff;
  width: 100%;
  max-width: 1000px; /* Ensure consistent container width */
  margin: 0 auto; /* Center the main content horizontally */
  box-sizing: border-box;
}

.intro-section {
  margin-bottom: 15px;
  width: 100%;
}

.intro-text {
  font-size: 2rem;
  color: #e0e0e0;
  font-weight: 300;
  margin: 0;
}

.resume-section {
  margin-bottom: 5px;
  width: 100%;
}

.resume-link {
  color: #2ecc71;
  text-decoration: none;
  font-size: 2rem;
  transition: color 0.3s;
}

.resume-link:hover {
  color: #27ae60;
}

.content-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.tech-experience, .projects {
  width: calc(50% - 10px); /* Split content evenly */
}

.section-title {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.tech-experience ul,
.projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tech-experience li,
.projects li {
  margin-bottom: 10px;
}

.experience-link, .project-link {
  color: #e0e0e0;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s;
  font-size: 1.8rem;
}

.experience-link:hover, .project-link:hover {
  color: #2ecc71;
}

.link-icon {
  margin-left: 5px;
  font-size: 0.8rem;
}
