/* Header.css */
.header {
    background-color: transparent; /* Make the header background transparent */
    padding: 20px;
    text-align: center;
  }
  
  .header-title {
    color: #eee; /* Light text color for contrast against dark background */
    font-size: 36px;
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Add a subtle text shadow for better readability */
  }
  